@inject IMenuCoreService MenuCore
@page "/Items"

<h3>Display Items</h3>

@if (items != null)
{
    <table class="table table-striped table-bordered bg-light">
        <thead>
            <th>name</th>
            <th>Category</th>
            <th>Price</th>
        </thead>
        <tbody>
            @foreach (var item in items)
            @if (item.activeStatus.Equals(true))
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.category.name</td>
                    <td>@item.servingSizePrices.First().priceStr</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>@errorString</h4>
}

@code {
    List<Item> items;
    string errorString;

    // Gets menu items from API on page initalization
    protected override async Task OnInitializedAsync()
    {
        items = await MenuCore.GetMenuItemsCoreAsync();
        MenuCore.SaveMenuItemsCoreAsync();
    }
}
